
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.env.demo
.env.dev
.env.uat
/debug
logs/
allure-results
test-examples/
example.*
*.log
